@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center fs-1"><a href="@Url.Content("~/pdf/2023_Medicaid_Renewal_Flyer_IL_FINAL_1_.pdf")" target="_blank">MEDICAID RE-ENROLLEMENT</a></div>
<div class="pt-5">
    <h5>Frequently Asked Questions (Click link below)</h5>
    <a href="https://www.healthychildren.org/English/tips-tools/ask-the-pediatrician/Pages/Are-there-shortages-of-infant-formula-due-to-COVID-19.aspx?_ga=2.12219252.1973131723.1652712197-862215164.1652712197&amp" target="_blank">Formula Shortage</a>
</div>
<div class="pt-5">
    <img class="d-block m-auto img-fluid" title="Giving The Best Pediatric Services for Your Child" src="@Url.Content("~/images/mypedmkv.png")" alt="Giving The Best Pediatric Services for Your Child" />
</div>
<div class="text-center pt-5">
    <span class="fs-1">Compassionate Pediatric Office</span><div class="row gap-5">
        <div class="col-12 col-sm-3 offset-3">
            <p>
                Trust MD Pediatric Center to check on your child's health through our essential <a target="_self" href="pid:16213867">pediatric services</a>.
                With your child's best interests at heart, we provide vaccinations, physical activities, and care for minor injuries. Set an appointment now to have your child checked at the best possible time.
            </p>
            <button class="btn btn-primary" target="_self" href="pid:16213867">Pediatrics</button>
        </div>
        <div class="col-12 col-md-3">
            <p>Visit our dedicated pediatric clinic today in Oak Lawn, Illinois, to get the services your child needs to be healthy. We are located&nbsp;at the junction of 95th street and Kostner.</p>
            <button class="btn btn-primary" target="_self" href="pid:16213870">Location</button>
        </div>
    </div>
</div>


<div class="pt-5 pb-5">
    <img class="img-fluid w-100" src="@Url.Content("~/images/amnifinal.png")" />
</div>

<div class="text-center">
        <img class="img-fluid" src="@Url.Content("~/images/healow_app.png")" title="Healow App" alt="Healow App"/>
        <img class="img-fluid" title="Healow App Beneifts" alt="Healow App Beneifts" src="@Url.Content("~/images/healow_app_2.png")" />
</div>